

* {
	font-size:17px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
}

body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
 }
 
 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #005fb2;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #333;
    color: white;
  }

#public::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.inside-container{
    height: 700px;
    width: 90%;
    background-color: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    margin-bottom: 50px;
}

#gimg {
    max-width: 100%;
    height: 17px;
  }

.para{
    width:90%
}

.inside{
    overflow: scroll;
    height: 700px;  
    background-color: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    margin-bottom: 50px;
}

.suplistlink {
padding-left: 10px;
margin-right: 10px;

}

li.suplistlink {
    font-size: 20px;
    border-left: 3px solid #4e9048;
    padding-left: 11px;
    font-size: 20px;
    margin-bottom: 60px;
    list-style-type: none;
}

ul.uplistlink {
    background-color: #f0f8f4;
    width: 90%;
}

#ADS li{
    display: grid;
    width: 100%;
    grid-template-columns: [title] 90% [year] 10px;
    grid-template-rows: [titledate] fit-content(35px) [authors] 31px;
    margin-bottom: 5rem;
    cursor:pointer;
}

#ADS .firstAuthor{
    display: grid;
    width: 100%;
    grid-template-columns: [title] 90% [year] 10px;
    grid-template-rows: [titledate] fit-content(35px) [authors] 31px;
    cursor:pointer;
}

.textimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.textimg p {
    max-width: 800px;
}

.title{
  color: #a60718;
  grid-area: titledate / title;
  text-decoration: none;
}

.year{
  grid-area: titledate / year;
}

.abs {
    display: none;
    position: absolute;
  }
  
#ADS li:hover {
    background-color: rgba(245, 170, 170, 0.285);
    }

#ADS li:hover + .absshow{
    display: flex;
    z-index: 9999;
    position: absolute;
    background-color: rgba(245, 170, 170, 0.285);
}

.buttomHidden{
    border:  1px solid black;
    color: white;
    box-shadow: inset 0px 0px 10px black;
        border-radius: 25px;
    background-color: #a60718;

}
.buttomVisible{
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    box-shadow: 0px 0px 3px black;
    
}

.author{
  grid-area: authors/ title;
  border-bottom: 2px solid #a7a7c4ba;
  color: #4a4a4a;
}

.loader{
    display: block;
}

.rounded {
    border: 0px;
    position: absolute;
    margin-top: -21px;
    background-color: rgb(255, 195, 54);
    width: 319px;
    height: 4px;
    box-shadow: 0px 2px 3px #9c8a8a6b;
}

.loader {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 0;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.inlinecode {
    background-color: #f5f5f5; /* Dark background for contrast */
    color: #333;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.95em;
    width: fit-content;
    margin: 15px;
    border: 1px solid #cdcdcd;

}
.inlinelink{
    color: rgb(23, 0, 226);
    text-decoration: none;

}
/* Container for the code block */
pre {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text for readability */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 8px; /* Rounded corners */
    overflow-x: auto; /* Allows horizontal scrolling for long lines */
    font-family: 'Consolas', 'Courier New', monospace;
    line-height: 0;


}

/* Inline code styling */
code {
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text for readability */

}
.codetitle {
    padding: 5px;
    background-color: #f5f5f5; /* Light gray background */
    font-size: 0.95em;
    margin: 0;
    font-family: lexend;
    border-bottom: 1px solid #ddd; /* Subtle border */

}
.codetitle:hover {
    padding: 5px;
    background-color: #f5f5f5; /* Light gray background */
    font-size: 0.95em;
    margin: 0;
    font-family: lexend;
    border-bottom: 1px solid #ddd; /* Subtle border */
    box-shadow: 2px 5px 5px #9c8a8a6b;
}
.codetitle button{
    float:right;
    display: flex;
    cursor:pointer;
}

/* Syntax Highlighting for Python */
pre code .keyword { color: #d73a49; font-weight: bold; } /* Red for keywords */
pre code .builtin { color: #6f42c1; } /* Purple for built-in functions */
pre code .function { color: #005cc5; } /* Blue for function names */
pre code .string { color: #032f62; } /* Dark blue for strings */
pre code .number { color: #22863a; } /* Green for numbers */
pre code .comment { color: #6a737d; font-style: italic; } /* Gray and italic for comments */
pre code .decorator { color: #e36209; } /* Orange for decorators */
pre code .variable { color: #b31d28; } /* Dark red for variables */

.inlinecode button{
    background-color: #f5f5f5; /* Dark background for contrast */
    border: None;
    width: fit-content;
    cursor:pointer;

}

button.inblock{
    background-color: #4b121200; /* Dark background for contrast */
    border: None;
    width: fit-content;

}

.inlinecode:hover{
    box-shadow: 2px 5px 5px #9c8a8a6b;
    border: 1px solid #828686;

}


#currentpage{
    margin-left: 5%;
    margin-right: 5%;
}

ul.uplistlink li{
    line-height: 0.1;
    margin-bottom: 17px;
}

#head-band {
    display: inline-flex;
    justify-content: space-between;
	font-size:24px;
	line-height:200%;
	color: white;
	font-family:lexend;
    font-weight: bolder;
    overflow: hidden;
    margin-top: 0px;
	background-color: #005fb2;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}


#hello {
    display: flex;
	font-size:24px;
	line-height:200%;
	color: white;
	font-family:lexend;
    font-weight: bolder;
    padding-left : 6%;
}

#head-band:before{
	background-color: #005fb2;
    content: "";
    z-index: -1;
    overflow-y: hidden;
    inset: 0px -100vw;
    position: absolute;
    box-shadow: 0px 5px 5px #9c8a8a6b;
}
.rounded::before {
    background-image: linear-gradient(to bottom, black 0%,transparent 10%);
}

h2 {
	font-size:20px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
	width: fit-content;
}

.para {
    display: inline-block;
    width: 90%;
}

#prez {
    display: block;
    grid-template-columns: 50% 30%;
    grid-gap: 5%;
    
}

.bandeau{
    display: flex;
    padding: 3px;
}


#public {
    height: 300px;
    width: 90%;
    display: inline-flex;
    overflow: scroll;
    position: absolute;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#public::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

#publicflow-right{
    position: absolute;
    height: 300px;
    margin-left: -2px;
    width: calc(90% + 3px);
    pointer-events: none; 
    background-image: linear-gradient(to right, white 0%,transparent 11% , transparent 89%, white 100%);
}

.container {
height: 300px;
}

#gotmini{
    right: 26px;
    top: 62px;
    position: fixed;
    text-shadow: 1px 1px 2px black;
}

#goto {
    position: fixed;
    display: inline-grid;
    right: 16px;
    z-index: 2;
    background: #fffffff6;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    padding: 12px;
    border: 4px solid #828686;
}

.sec {
width: fit-content;
}

#github{
    margin-right: 10%;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: space-between;
}
#github p{
    color: white;
    padding-right: 10px;
}
#github img{
    height: 30px;
    }


.text-highlight{
    color: rgb(215, 121, 14);
    font-weight: bolder;
    text-shadow:0px 1px 0px #ee5f00;
}
.text-highlight_blue{
    color: #005fb2;
    text-shadow:0px 1px 0px #005fb2;
}