

* {
	font-size:17px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
}

body{
    margin-top: 0;
    margin-right: 5%;
}

li.suplistlink {
    font-size: 20px;
    border-left: 3px solid #4e9048;
    padding-left: 11px;
    font-size: 20px;
    margin-bottom: 60px;
    list-style-type: none;

}

#hello {
	font-size:24px;
	line-height:200%;
	color: white;
	font-family:lexend;
    font-weight: bolder;
    padding-left : 10px;
    margin-top: 0px;
	background-color: #005fb2;
    width: 100vw;
    position: relative;
}

#hello::before{
	background-color: #005fb2;
    content: "";
    z-index: -1;
    inset: 0px -100vw;
    position: absolute;
}

h2 {
	font-size:20px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
	width: fit-content;
}

.para {
    display: inline-block;
    width: 70%;
}

#prez {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-gap: 5%;
    
}

#public {
    height: 300px;
    width: 70%;
    display: inline-flex;
    overflow: scroll;
    position: absolute;
}

#publicflow-left{
    position: absolute;
    height: 300px;
    width: 300px;
    /* padding-left: 72%; */
    background-image: linear-gradient(to right, white 0%,transparent 11%);
}
#publicflow-right{
    position: absolute;
    height: 300px;
    width: 70%;
    pointer-events: none; 
    background-image: linear-gradient(to right, white 0%,transparent 11% , transparent 89%, white 100%);
}

.container {
height: 300px;
}

.sec {
width: fit-content;
}